:root {
	font-family: Arial;
	--clr-tennessee-orange: #ff8200;
	--clr-white: #ffffff;
	--clr-smokey: #58595b;
	--clr-torch: #e65933;
	--clr-sunsphere: #fed535;
	--clr-eureka: #ebea64;
	--clr-switchgrass: #abc178;
	--clr-legacy: #579584;
	--clr-valley: #00746f;
	--clr-globe: #006c93;
	--clr-river: #517c96;
	--clr-summitt: #b9e1e2;
	--clr-fountain: #2197a9;
	--clr-regalia: #754a7e;
	--clr-leconte: #8d2048;
	--clr-energy: #ee3e80;
	--clr-limestone: #f0ede3;
	--clr-rock: #a7a9ac;
	--clr-buckskin: #705550;
	--clr-gray-1: #f6f6f6;
	--clr-gray-2: #e0e0e0;
	--clr-gray-3: #cacaca;
	--clr-gray-4: #b6b6b6;

	--clr-font-header: var(--clr-smokey);
	--clr-font-text: #333333;

	color: var(--clr-font-text);
	background-color: #ffffff;
}

a {
	color: var(--clr-globe);
}

div {
	border-radius: 0.25em;
}


body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0px;
	padding: 0px;
}
