:root {
	--clr-font-white-high: #eeeeee;
	--clr-font-white-med: #cccccc;
	--clr-font-white-low: #bbbbbb;
	--clr-red: #634144;
	--clr-blue: #2D3E4F;
	--clr-gray: #2A2E32;
	--color-1: #9D9494ff;
	--color-2: #3E6187ff;
	--color-3: #2E3F50ff;
	--color-4: #0E0101ff;
	--color-5: #97B1C3ff;
}

.card {
	color: var(--clr-font-white-med);
	background-color: var(--clr-gray);
	border-radius: 0.5rem;
	max-height: 30rem;
	overflow: hidden;
	margin: 1rem;
	flex-grow: 1;
	min-width: 30ch;
	max-width: 60ch;

}

.card:hover {
	filter: brightness(90%);
}

.card-header {
	height: 6rem;
	padding: 0rem 1rem;
}

.card-header > h1 {
	font-size: 2rem;
	margin: 1rem 0rem;
	width: 100%;
	font-weight: bold;
}

.card-header > h2 {
	font-size: 1rem;
	margin: 1rem 0rem;
	width: 100%;
	font-weight: bold;
}



em {
	font-style: italic;
}
