.content-div {
	margin: 1em;
	background-color: var(--clr-gray-1);
	padding: 0.5em;
}

.content-div > * {
	padding: 0.5em;
	margin: 0px;
}

#greeter {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: var(--clr-tennessee-orange);
}

#greeter > h1 {
	margin: 0px;
	padding: 0.5em;
	padding-left: 1em;
	color: var(--clr-font-text);
	background-color: var(--clr-gray-2);
}

#greeter > h2 {
	text-align: center;
	margin: 0px;
	padding: 0.25em;
	background-color: var(--clr-gray-1);
}

#info-summary {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-gray-2);
}

#info-summary > * {
	padding: 0.5em;
	margin: 0px;
}

#introduction {
	width: min(30em, 100%);
}
